section#partners31{
    padding: 50px 0;
    background: #fafafa;
}
section#partners31 h2 {
    margin: 0 0 20px 0;
    font-weight: normal;
    font-size: 42px;
}
section#partners31 .lead {
    font-size: 0.9em;
    color: grey;
}
section#partners31 .owl-carousel .owl-stage-outer {
    margin-right: 1px !important;
}
section#partners31 img {
    padding: 15px 20px;
    border-right: 1px dashed #cecece;
    /*width: 100%;*/
    width: auto;
    height: 130px;
}
section#partners31 .owl-nav {
    font-size: 25px;
    position: absolute;
    top: 50%;
    margin-top: -63px;
    width: 100%;
}
section#partners31 .owl-prev {
    position: absolute;
    left: 0;
    top: 30px;

}
section#partners31 .owl-next {
    right: 0;
    top: 30px;
    position: absolute;
}
section#partners31 .owl-next,
section#partners31 .owl-prev {
    color: #a8a8a8;
    float: left;
    font-size:32px;
}
section#partners31 .owl-next:hover,
section#partners31 .owl-prev:hover {
    font-size: 32px;
    color: #616161;
    /*top: -2px;*/
}
section#partners31 .owl-next.disabled,
section#partners31 .owl-prev.disabled {
    color: #999 !important;
}
