section.block-text {
    font-family: "Open Sans";
    font-size: 0.9rem;
    line-height: 1.5;
}

section.block-text h2 {
    margin: 0 0 10px 0;
    font-size: 25px;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}
section.block-text p {
    color: #0e0e0e;
    line-height: 24px;
    margin: 0 0 20px;
}
section.block-text hr {
    margin: 10px 0;
}
section.block-text .list.list-icons {
    list-style: none;
    padding-left: 0;
    padding-right: 0;
}
section.block-text ul.mortgage-section__list {
    margin-top: 10px;
    padding-left: 20px;
}
section.block-text .row.min-padding {
    margin-left: -5px;
    margin-right: -5px;
}
section.block-text .row.min-padding [class*="col"]{
    padding-left: 5px !important;
    padding-right: 5px !important;
}
section.block-text input[type="text"]{
    padding: 8px 10px;
    width: 100%;
    margin-right: 5px;
    font-size: 0.9rem;
    line-height: 1.25;
    color: #55595c;
    background-color: #fff;
    box-sizing: border-box;
    background-image: none;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
}
@media (max-width:768px ) {
    section.block-text .img-thumbnail {
        margin-bottom: 15px !important;
    }
}
@media (max-width:544px ) {
    section.block-text .mortgage-form input[type="text"] {
        margin-bottom: 15px;
    }
}
